html {
    font-family: arial;
    background-color: black;
}

.titulotruco {
    color: red;
    font-size: 55px;
    margin-left: 70px;
    background-color: black;
    background-size: 500px;
}

.subtitulo {
    color: rgb(206, 8, 8);
    font-size: 40px;
    margin-left: 70px;
}

.texto {
    font-size: 30px;
    margin-left: 70px;
    margin-right: 600px;
    
}

a {
    font-size: 25px;
    color: blue;
    text-decoration: none;
    margin-left: 70px;
    margin-right: 600px;
}
