html {
    font-family: arial;
    background-color: rgb(41, 40, 40)
}

.titulotruco {
    color: red;
    font-size: 55px;
    padding-left: 70px;
    background-color: rgb(0, 0, 0)
    
    
}

.subtitulo {
    color: rgb(206, 8, 8);
    font-size: 40px;
    padding-left: 70px;

}

.texto {
    font-size: 30px;
    padding-left: 70px;
    padding-right: 600px;
    color: aliceblue;
    
}

a {
    font-size: 25px;
    color: blue;
    text-decoration: none;
    padding-left: 70px;
    padding-right: 600px;
}
